    <p class="text-center">Trademark 2020</p>
    <p class="text-center">Created by Luka Resetar</p>
    <p class="text-center"><a href="https://github.com/kirsrous/yelpcampClone">Github link</a></p>
</body>
</html>
